<div class="container first text-center">

  <h1>{{user.name}}</h1>
<hr>
  <div class="row">

    <div class="col-md-6 text-center">
      <h2>Ahorro conseguido</h2>
      <br>
      <p>{{totalSaving}} €</p>

      <p>Ver todos tus  movimientos</p>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Detalles</button>
      </div>
      <br>
    </div>

    <div class="col-md-6">
      <h2>Cambia de vehiculo</h2>
      <br>
      <ul class="list-group">
        {{#each vehicles}}
        <li>

          <a href="/">
            <button type="button" class="btn btn-primary">
              {{brand}}
              {{model}}
            </button>
          </a>
          <a href="/vehiculos/editar/{{_id}}" class="btn btn-warning">Editar</a>
          <form action="/vehiculos/eliminar/{{_id}}" method="POST" style="display: inline-block">
            <button class="btn btn-danger">Eliminar</button>
          </form>
        </li><br /><br />

        {{/each}}
      </ul>

    </div>

  </div>
</div>