<div class="container">

  <div class="row">

    <h1>Edite su {{brand}} {{model}}</h1>

    <form action="/vehiculos/editar/{{_id}}" method="POST">
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="XXXXX" class="col-form-label">Marca</label>
          <input
            type="text"
            id="XXXXX"
            class="form-control"
            name="brand"
            value="{{brand}}"
          />
          <div class="form-text">Marca de su vehiculo</div>
        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="XXXXX" class="col-form-label">Modelo</label>
          <input
            type="text"
            id="XXXXX"
            class="form-control"
            name="model"
            value="{{model}}"
          />
        </div>
      </div>
      <br />
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="XXXXX" class="col-form-label">Combustible</label>
          <select
            class="form-select"
            aria-label="multiple select example"
            name="fuelType"
            {{! VALOR POR DEFECTO CORREGIR }}
          >

            <option disabled>Elija su combustible...</option>
            <option value="Gasoleo A">Diesel</option>
            <option value="Gasoleo Premium">Diesel Premium</option>
            <option value="Gasolina 95 E5">Gasolina 95</option>
            <option value="Gasolina 98 E5">Gasolina 98</option>
          </select>

        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Consumo medio</label>
          <input
            type="number"
            id="inputPassword6"
            class="form-control"
            name="averageFuel"
            value="{{averageFuel}}"
          />
          <div class="form-text">l/100km</div>
        </div>
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Editar vehiculo</button>
      </div>
    </form>

  </div>
</div>